[user]
	email = thekuwayama@gmail.com
	name = thekuwayama
[color]
	ui = auto
[alias]
        graph = log --oneline --graph --decorate
[pager]
        log = diff-highlight | less
        show = diff-highlight | less
        diff = diff-highlight | less
